<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>List Course-authors</title>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h2>COURSE AUTHORS</h2>
    <hr>

    <table class="table table-bordered table-striped" id="author-table">
        <thead>
        <tr>
            <th>Author ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.authorId}"></td>
            <td th:text="${author.firstName}"></td>
            <td th:text="${author.lastName}"></td>
            <td th:text="${author.email}"></td>
            <td th:text="${#temporals.format(author.dateCreated,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
               <a th:href="@{/author/details(authorId=${author.authorId})}" class="btn btn-info">details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/courses}" class="btn btn-info">Back</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.13.8/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#author-table").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1]
            }]
        });
    })
</script>
</body>

</html>
